{% extends "::base.html.twig" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path(app.request.attributes.get('_route'))}}">
                Profielen dokters
            </a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    {% if is_granted("ROLE_USER") == false %}
                        <a style="margin-top: 20px" class="btn btn-primary btn-wide" href="/aanmelden">
                            Meld je aan voor een afspraak te maken
                        </a>
                    {% else %}

                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% for user in users %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_DOCTOR' %}
                            <div class="col-sm-12 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ user.name }} {{ user.lastname }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3 " align="center">
                                                {% if user.img == "" %}
                                                    <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">
                                                {% else %}
                                                    <img alt="User Pic" src="{{ user.img }}" class="img-circle img-responsive">
                                                {% endif %}
                                            </div>
                                            <div class=" col-md-9 col-lg-9 ">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                    <tr>
                                                    <tr>
                                                        <td>Geslacht:</td>
                                                        <td>Man</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lokaal:</td>
                                                        <td>Lokaal 1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email:</td>
                                                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                                    </tr>
                                                    <td>Phone Number:</td>
                                                    <td>012 / 34 56 78</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                <!-- repeat for dokter in dokters -->
                {% endfor %}
                <!-- end repeat -->
            </div>
        </div>
    </section>
{% endblock %}