{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Wachtwoord aanpassen</h3>
                        </div>
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal'}}) }}
                        {{ form_errors(form) }}
                        <div class="panel-body">
                            <div class=" col-md-12 col-lg-12 ">
                                <div class="form-group">
                                    {{ form_label(form.current_password, 'Huidig wachtwoord	', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                                        {% if form_errors(form.current_password) %}
                                        <p>
                                            <div class="alert alert-danger">{{ form_errors(form.current_password) }}</div>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.first, 'Nieuw wachtwoord	', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                        {% if form_errors(form.plainPassword.first) %}
                                        <p>
                                            <div class="alert alert-danger">{{ form_errors(form.plainPassword.first) }}</div>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.second, 'Wachtwoord controle	', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                        {% if form_errors(form.plainPassword.second) %}
                                        <p>
                                            <div class="alert alert-danger">{{ form_errors(form.plainPassword.second) }}</div>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                
                               
                                
                            </div>

                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <!--<a href="#" class="btn btn-primary">Registreer</a>-->
                                <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
                                <a href="/" class="btn btn-default">Annuleer</a>

                                <div>

                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-sm-12 margin50"></div>
            </div>
        </div>
    </section>
{% endblock %}

