{% extends "::base.html.twig" %}
	{% block styles %}
        {{ parent() }}
        <link href={{ asset('vendor/fullcalendar-2.5.0/fullcalendar.css') }} rel='stylesheet'/>
        <link href={{ asset('vendor/fullcalendar-2.5.0/fullcalendar.print.css') }} rel='stylesheet' media='print'/>
        <script src={{ asset('vendor/fullcalendar-2.5.0/lib/moment.min.js') }}></script>
        <script src={{ asset('vendor/fullcalendar-2.5.0/lib/jquery.min.js') }}></script>
        <script src={{ asset('vendor/fullcalendar-2.5.0/fullcalendar.min.js') }}></script>
        <script src={{ asset('vendor/fullcalendar-2.5.0/lang/nl.js') }}></script>
        <link href={{ asset('css/calendarStyles.css') }} rel='stylesheet'/>
    {% endblock %}
    {% block breadcrumbs %}
        <ul class="breadcrumb visible-lg visible-md visible-sm">
            <li>
                <a href="{{ path(app.request.attributes.get('_route'))}}">
                    Afspraak maken
                </a>
            </li>
        </ul>
        <ul class="breadcrumb visible-xs">
            <li>
                <a href="{{ path(app.request.attributes.get('_route'))}}">
                    Uw afspraken
                </a>
            </li>
        </ul>
    {% endblock %}
{% block body %}
    <div class="modal" id="confirmCreated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Uw afspraak is bevestigd</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="patientName" class="control-label">Naam patiënt</label>
                        <div name="patientName" id="patientName"></div>
                    </div>
                    <div class="form-group">
                        <label for="patientMessage" class="control-label">Reden van consultatie</label>
                        <div name="patientMessage" id="patientMessage"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-wide btn-default" data-dismiss="modal">Nieuwe afspraak maken</button>
                    </div>
                    <div class="form-group" style="margin-bottom: 0px;">
                        <a href="/afspraken" id="continueToMyAppointments" class="btn btn-wide btn-primary">Doorgaan naar Mijn afspraken</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- render all apointments -->
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            Afspraak
                        </div>
                        <div class="panel-body">
                            <!--<form onsubmit="" class="form-horizontal appointment-form">-->
                            <div class="form-group">
                                <label class="control-label" for="select-doctor"> Dokter</label>
                                <select class="form-control" id="select-doctor"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="name"> Naam patiënt</label>
                                <input id="userId" type="hidden" value="{{ app.user.id }}"/>
                                <input type="text" class="form-control" id="name"
                                       value="{{ app.user.name | capitalize }} {{ app.user.lastname | capitalize }}"
                                       placeholder="Naam patiënt"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Datum en tijd</label>

                                <p id="dateAndTime" style="margin-bottom: 0px;">Selecteer een datum en tijd in de
                                    agenda.</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Locatie</label>

                                <p id="location" style="margin-bottom: 0px;">Selecteer een datum en tijd in de
                                    agenda.</p>
                            </div>
                            <div class="form-group">
                                <label for="textArea" class="control-label">Reden van consultatie</label>
                                <textarea class="form-control" rows="3" id="message"
                                          placeholder="Reden van consultatie"></textarea>
                            </div>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <button type="submit" id="createAppointment" href="#" class="btn btn-primary btn-wide">
                                    Afspraak maken
                                </button>
                            </div>
                            <input id="appointmentId" type="hidden" value=""/>
                            <!--</form>-->
                        </div>
                    </section>
                </div>
                <div class="col-md-9">
                    <section id="calendar-panel" class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Agenda
                            <a class="btn btn-sm btn-default pull-right" href="/afspraak-appoint">
                                <span>Toon uw afspraken</span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="center-block margin10" id="preloader" src="{{ asset('preloader1.gif') }}"/>
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function calculateScrollTime(minTime, maxTime) {
            var min = moment(minTime, 'HH:mm').format('HH:mm');
            var max = moment(maxTime, 'HH:mm').format('HH:mm');
            var now = moment(Date.now()).format('HH:mm');
            if (now >= max) {
                return min;
            } else {
                return now;
            }
        }
        function loadData(url, callback) {
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'get',
                success: function(data) {
                    callback(data);
                }
            })
        }
        function postData(url, data, callback) {
            $.ajax({
                url: url,
                type: 'post',
                dataType: "json",
                processData: false,
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", "application/json");
                },
                data: JSON.stringify(data),
                success: function (msg) {
                    callback(msg);
                }
            });
        }
        $(document).ready(function () {
            prefs = [];
            prefs["minHour"] = '08:00';
            prefs["maxHour"] = '19:00';
            prefs["slotDuration"] = '00:15';
            var select = $('#select-doctor');
            var previousClick = null;
            var calendar = $('#calendar');
            calendar.fullCalendar('getCalendar');
            calendar.fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                firstDay: 1,
                allDaySlot: false,
                defaultDate: Date.now(),
                lang: 'nl',
                editable: false,
                timeFormat: 'HH:mm',
                defaultView: 'agendaWeek',
                minTime: prefs["minHour"],
                maxTime: prefs["maxHour"],
                scrollTime: calculateScrollTime(prefs["minHour"], prefs["maxHour"]),
                slotDuration: prefs["slotDuration"],
                slotLabelInterval: prefs["slotDuration"],
                slotLabelFormat: 'HH:mm',
                eventDurationEditable: false,
                snapDuration: prefs["slotDuration"],
                eventLimit: true,
                displayEventTime: true,
                displayEventEnd: true,
                slotEventOverlap: false,
                eventBackgroundColor: 'rgb(26, 36, 47)',
                defaultTimedEventDuration: prefs["slotDuration"],
                minDate: moment(Date.now()),
                eventClick: function (calEvent, jsEvent, view) {
                    if(previousClick != calEvent && previousClick != null) {
                        previousClick.backgroundColor = "rgb(26, 36, 47)";
                    }
                    previousClick = calEvent;
                    calEvent.backgroundColor = "rgb(24, 188, 156)";
                    calendar.fullCalendar('rerenderEvents');
                    $("input[id=appointmentId]").val(calEvent.id);
                    $("#dateAndTime").html("<i class=\"fa fa-calendar\" /> &nbsp;" + moment(calEvent.start).format('DD MMMM YYYY') + "<br /><i class=\"fa fa-clock-o\" /> &nbsp;" + moment(calEvent.start).format('HH:mm') + " - " + moment(calEvent.end).format('HH:mm'));
                    $("#location").html("<i class=\"fa fa-location-arrow\" /> &nbsp;" + calEvent.room);
                },
                loading: function(bool) {
                    if (bool) $('#preloader').show();
                    else $('#preloader').hide();
                }
            });
            loadData('http://localhost:8000/api/users/doctors', function (doctors) {
                $.each(doctors, function (key, value) {
                    select.append('<option value="' + value.id + '">' + value.name + " " + value.lastname + '</option>');
                });
                loadAppointments(select.val());
            });
            select.on('change', function () {
                $("#dateAndTime").html("Selecteer een datum en tijd in de agenda.");
                $("input[id=appointmentId]").val();
                loadAppointments($(this).val());
            });
            function createAppointment(appointmentId, appointment) {
                postData("http://localhost:8000/api/appointments/" + appointmentId, appointment, function (data) {
                    window.location("localhost:8000/afspraken");
                });
            }
            $('#createAppointment').on('click', function () {
                var appointment = null;
                appointment = {
                    "patientId": $('#userId').val(),
                    "patientName": $('#name').val(),
                    "patientMessage": $('#message').val()
                };
                createAppointment($("input[id=appointmentId]").val(), appointment);
                $(this).attr('data-toggle', 'modal');
                $(this).attr('data-target', '#confirmCreated');
                $("#patientName").html(appointment.patientName);
                $("#patientMessage").html(appointment.patientMessage);
                $('#message').val("");
                loadAppointments(select.val())
            });
            function loadAppointments(doctorId) {
                loadData('http://localhost:8000/api/doctors/' + doctorId + '/appointments/open', function (appointments) {
                    console.log(appointments);
                    $('#preloader').hide();
                    calendar.fullCalendar('removeEvents');
                    calendar.fullCalendar('addEventSource', appointments);
                    calendar.fullCalendar('refetchEvents');
                });
            }
        });
    </script>
{% endblock %}
