{% extends "::base.html.twig" %}
	{% block styles %}
	{{ parent() }}
    <link href={{asset('vendor/fullcalendar-2.5.0/fullcalendar.css')}} rel='stylesheet' />
    <link href={{asset('vendor/fullcalendar-2.5.0/fullcalendar.print.css')}} rel='stylesheet' media='print' />
    <script src={{asset('vendor/fullcalendar-2.5.0/lib/moment.min.js')}}></script>
    <script src={{asset('vendor/fullcalendar-2.5.0/lib/jquery.min.js')}}></script>
    <script src={{asset('vendor/fullcalendar-2.5.0/fullcalendar.min.js')}}></script>
    <script src={{asset('vendor/fullcalendar-2.5.0/lang/nl.js')}}></script>
    {% endblock %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'))}}">
                                Afspraak maken
                            </a>
                        </li>
                    </ul>
    {% endblock %}
{% block body %}
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            Afspraak
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <form class="form-horizontal appointment-form">
                                    <div class="form-group">
                                        <label class="control-label" for="select-doctor">Dokter</label>
                                        <select class="form-control" id="select-doctor"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="name">Naam</label>
                                        <input type="text" class="form-control" id="name" value="Gebruiker" >
                                    </div>
                                    <div class="form-group">
                                        <label for="textArea" class="control-label">Reden van consultatie</label>
                                        <textarea class="form-control" rows="3" id="textArea" placeholder="Reden van consultatie"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <a href="#" class="btn btn-primary btn-wide">Afspraak maken</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-9">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            Agenda
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="center-block" id="preloader" src="{{ asset('preloader1.gif') }}"/>
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">

        function calculateScrollTime(minTime, maxTime) {
            var nowHours = moment(Date.now()).format('H:mm:ss');
            if (nowHours > maxTime) {
                return minTime;
            } else {
                return nowHours;
            }
        }

        function dateNowInt() {
            var d = new Date();
            return d.getDay();
        }

        function loadData(url, callback) {
            $.ajax({
                url: url,
                dataType: 'json',
                success: function(data) {
                    callback(data);
                }
            })
        }

        $(document).ready(function () {

            var select = $('#select-doctor');
            var calendar = $('#calendar').fullCalendar('getCalendar');

            loadData('http://localhost:8000/api/users/doctors', function (doctors) {
                $.each(doctors, function (key, value) {
                    select.append('<option value="' + value.id + '">' + value.name + " " + value.lastname + '</option>');
                });
                loadAppointments(select.val());
            });

            select.on('change', function () {
                //console.log($(this).val());
                loadAppointments($(this).val());
            });

            function loadAppointments(doctorId) {
                loadData('http://localhost:8000/api/doctors/' + doctorId + '/appointments/open', function (appointments) {
                    console.log(appointments);
                    $('#preloader').hide();

                    prefs = new Array();
                    prefs["minHour"] = '08:00:00';
                    prefs["maxHour"] = '19:00:00';
                    prefs["slotDuration"] = '00:15:00';

                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'agendaWeek,agendaDay'
                        },
                        firstDay: dateNowInt(),
                        allDaySlot: false,
                        defaultDate: Date.now(),
                        lang: 'nl',
                        timeFormat: 'H:mm',
                        defaultView: 'agendaWeek',
                        minTime: prefs["minHour"],
                        maxTime: prefs["maxHour"],
                        scrollTime: calculateScrollTime(prefs["minHour"], prefs["maxHour"]),
                        slotDuration: prefs["slotDuration"],
                        slotLabelInterval: prefs["slotDuration"],
                        slotLabelFormat: 'H:mm',
                        editable: true,
                        eventDurationEditable: false,
                        snapDuration: prefs["slotDuration"],
                        eventLimit: true,
                        displayEventTime: true,
                        displayEventEnd: true,
                        slotEventOverlap: false,
                        eventBackgroundColor: '#37424c',
                        defaultTimedEventDuration: prefs["slotDuration"],
                        minDate: moment(Date.now()),
                        eventClick: function (calEvent, jsEvent, view) {
                            alert('Start - End: ' + calEvent.start + " - " + calEvent.end);
                        },
                        events: appointments
                    });
                    $('#calendar').fullCalendar('rerenderEvents');
                });
            }

            calendar.on('dayClick', function(date, jsEvent, view) {
                var newEvent = new Object();

                newEvent.title = "";
                newEvent.start = date;
                calendar.fullCalendar('renderEvent', newEvent);
            });

        });
    </script>
{% endblock %}
