{% extends "::base.html.twig" %}
	{% block styles %}
	{{ parent() }}
    <link href={{asset('vendor/fullcalendar-2.5.0/fullcalendar.css')}} rel='stylesheet' />
    <link href={{asset('vendor/fullcalendar-2.5.0/fullcalendar.print.css')}} rel='stylesheet' media='print' />
    <script src={{asset('vendor/fullcalendar-2.5.0/lib/moment.min.js')}}></script>
    <script src={{asset('vendor/fullcalendar-2.5.0/lib/jquery.min.js')}}></script>
    <script src={{asset('vendor/fullcalendar-2.5.0/fullcalendar.min.js')}}></script>
    <script src={{asset('vendor/fullcalendar-2.5.0/lang/nl.js')}}></script>
    {% endblock %}
    {% block breadcrumbs %}
        <ul class="breadcrumb">
                        <li>
                            <a href="{{ path(app.request.attributes.get('_route'))}}">
                                Afspraak maken
                            </a>
                        </li>
                    </ul>
    {% endblock %}
{% block body %}
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            Afspraak
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <form class="form-horizontal appointment-form">
                                    <div class="form-group">
                                        <label class="control-label" for="select-docter">Dokter</label>
                                        <select class="form-control" id="select-docter">
                                            <option>Dokter 1</option>
                                            <option>Dokter 2</option>
                                            <option>Dokter 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="name">Naam</label>
                                        <input type="text" class="form-control" id="name" value="Gebruiker" >
                                    </div>
                                    <div class="form-group">
                                        <label for="textArea" class="control-label">Reden van consultatie</label>
                                        <textarea class="form-control" rows="3" id="textArea" placeholder="Reden van consultatie"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <a href="#" class="btn btn-primary btn-wide">Afspraak maken</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-9">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            Agenda
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">

        function calculateScrollTime(minTime, maxTime) {
            var nowHours = moment(Date.now()).format('H:mm:ss');
            if (nowHours > maxTime) {
                return minTime;
            } else {
                return nowHours;
            }
        }

        function dateNowInt() {
            var d = new Date();
            return d.getDay();
        }

        function loadAppointments(url, callback) {
            $.ajax({
                url: url,
                dataType: 'json',
                success: function(data) {
                    callback(data);
                }
            })
        }

        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar('getCalendar');

            loadAppointments('http://localhost:8000/api/appointments', function (appointments) {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    firstDay: dateNowInt(),
                    allDaySlot: false,
                    defaultDate: Date.now(),
                    lang: 'nl',
                    timeFormat: 'H:mm',
                    defaultView: 'agendaWeek',
                    minTime: '08:00:00',
                    maxTime: '19:00:00',
                    scrollTime: calculateScrollTime('08:00:00', '19:00:00'),
                    slotDuration: '00:15:00',
                    slotLabelInterval: '00:15:00',
                    slotLabelFormat: 'H:mm',
                    editable: true,
                    eventDurationEditable: false,
                    snapDuration: '00:15:00',
                    eventLimit: true,
                    displayEventTime: true,
                    displayEventEnd: true,
                    slotEventOverlap: false,
                    eventBackgroundColor: '#37424c',
                    defaultTimedEventDuration: '00:15:00',
                    minDate: moment(Date.now()),
                    eventClick: function(calEvent, jsEvent, view) {
                        alert('ID: ' + calEvent.id);
                    },
                    events: appointments
                });
            });

            calendar.on('dayClick', function(date, jsEvent, view) {
                var newEvent = new Object();

                newEvent.title = "";
                newEvent.start = date;
                $('#calendar').fullCalendar( 'renderEvent', newEvent );
            });

        });
    </script>
{% endblock %}
