{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Registreer</h3>
                        </div>
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
                        {{ form_errors(form) }}
                        <div class="panel-body">
                            <div class=" col-md-12 col-lg-12 ">
                                <div class="form-group">
                                    {{ form_label(form.name, 'Naam', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.lastname, 'Achternaam', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.lastname) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.username, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                        <p>{{ form_errors(form.username) }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.yearOfBirth, 'Geboorte datum', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        <div class='input-group date col-sm-12' id='birthDayPicker'>
                                            <!--<input id="inputBirth" type='text' class="form-control" />-->
                                            {{ form_widget(form.yearOfBirth, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.yearOfBirth) }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                        <p>{{ form_errors(form.email) }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                        <p>{{ form_errors(form.plainPassword.first) }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div id="captcha" class="form-group">
                                    {{ form_label(form.captcha, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                    <div class="col-sm-8">
                                        {{ form_widget(form.captcha, { 'attr': {'placeholder': 'Security code', 'class' : 'form-control'} }) }}
                                        <p>{{ form_errors(form.captcha) }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <!--<a href="#" class="btn btn-primary">Registreer</a>-->
                                <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
                                <a href="/" class="btn btn-default">Annuleer</a>

                                <div>

                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-sm-12 margin50"></div>
                <script src={{ asset("datePicker/js/bootstrap-datepicker.js") }} type="text/javascript"></script>
                <script>
                    $(document).ready(function () {
                        $('#birthDayPicker')
                                .datepicker({
                                    format: 'dd-mm-yyyy',
                                    startView: 1,
                                    orientation: "bottom auto",
                                    autoclose: true
                                })
                    });
                </script>
            </div>
        </div>
    </section>
{% endblock %}